@import url("https://use.typekit.net/dru8ypa.css");

body {
    font-family: birch-std, serif;
    font-size: 22px;
    background-color: black;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: birch-std, serif;
}

.mySlides {
    display: none;
}

.text-left {
    text-align: left;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding: 0 !important;
}

.w3-modal-content {
    width: fit-content;
    background-color: none;
    font-size: 0;
}
