@font-face {
    font-family: 'League Gothic Extended';
    src: url('subset-LeagueGothicExtended.woff2') format('woff2'),
        url('subset-LeagueGothicExtended.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}