@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre&display=swap');

body {
    font-family: 'Abhaya Libre', serif;
    font-size: 22px;
    background-color: black;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Abhaya Libre', serif;
}

.mySlides {
    display: none;
}

.text-left {
    text-align: left;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding: 0 !important;
}

.w3-modal-content {
    width: fit-content;
    background-color: black;
    color: white;
}

li {
    font-size: 16px;
}

/* relevant styles */

.portfolio__box {
    padding-bottom: 20px;
}

.portfolio__title {
    padding: 0 20px;
}

.team {
    filter: grayscale(100%);
}

.team__name {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: .6em;
}

.team__role {
    margin: 0;
}

.img__wrap {
    position: relative;
  }
  
  .img__description {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 8px;
    right: 8px;
    background: #7777778e;
    color: #fff;
    visibility: hidden;
    opacity: 0;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
  }
