body {
    font-family: 'League Gothic Extended';
    font-size: 22px;
    background-color: black;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'League Gothic Extended';
}

.link {
    text-decoration: none;
}

iframe {
    border: 0;
}

.text-left {
    text-align: left;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding: 0 !important;
}

.w3-modal {
    display: block;
}

.w3-modal-content {
    width: 640px;
    background-color: black;
    color: white;
}

li {
    font-size: 16px;
}

/* relevant styles */

.team {
    filter: grayscale(100%);
}

.team__name {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: .6em;
}

.team__role {
    margin: 0;
}

.portfolio__table {
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

td {
    margin: 0;
    padding: 0;
    border: 0;
}

.img__props {
    width: 100%;
    height: auto;
}

.img__wrap {
    position: relative;
    float: left;
    overflow:auto;
    width: 100%;
    height: auto;
  }
  
  .img__description {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #7777778e;
    color: #fff;
    visibility: hidden;
    opacity: 0;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
  }

  .img__title {
      font-size: 2rem;
  }

/*   @media only screen and (min-width: 801px) {
    .img__wrap {
        width: 33.3%;
      }
  }

  @media only screen and (max-width: 800px) {
    .img__wrap {
        width: 100%;
      }
  } */

.portfolio__box {
    padding: 0 20px 10px 20px;
    /* width: 640px; */
    text-align: left;
}
  
.videoHeight {
    margin-top: 84px;
  }
  
.showreel--button-container {
    padding-bottom: 32px;
}
  
.showreel--button {
    padding-bottom: 32px;
    border: 1px white solid;
}
  
.playerMobile { 
    max-width: 100%;
}
  